.pio
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
build

compile_commands.json
sdkconfig.esp32-c6-devkitm-1
sdkconfig.esp32-c6-devkitm-1.old
sdkconfig.esp32-c6-devkitc-1
sdkconfig.esp32-c6-devkitc-1.old
